flows/CCPA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Choice1</name>
        <choiceText>{!UserFirstChoice}</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <choices>
        <name>UserChoice_view</name>
        <choiceText>{!FormChoice}</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>CCPAoptions</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Categor__c</picklistField>
        <picklistObject>CCPA_Request__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>UserZipInputNumberFormula</name>
        <dataType>Number</dataType>
        <expression>VALUE(LEFT({!UserZipInput}, 5))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CCPA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCPA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_request</name>
        <label>Create request</label>
        <locationX>372</locationX>
        <locationY>60</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <inputAssignments>
            <field>Authorized_Agent_Email__c</field>
            <value>
                <elementReference>AgentEmailInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_First_Name__c</field>
            <value>
                <elementReference>Agent_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_Last_Name__c</field>
            <value>
                <elementReference>Agent_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Agent_Phone__c</field>
            <value>
                <elementReference>AgentPhoneInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Categor__c</field>
            <value>
                <elementReference>UserOptions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>UserCityInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delete_Info__c</field>
            <value>
                <elementReference>UserSecondChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>UserEmailInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>UserPhoneInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Info__c</field>
            <value>
                <elementReference>UserFirstChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State__c</field>
            <value>
                <elementReference>UserStateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>UserStreetInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submitting_on_behalf_of__c</field>
            <value>
                <elementReference>Submitting_on_behalf_of_someone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Code__c</field>
            <value>
                <elementReference>UserZipInputNumberFormula</elementReference>
            </value>
        </inputAssignments>
        <object>CCPA_Request__c</object>
    </recordCreates>
    <screens>
        <name>ccpa</name>
        <label>ccpa</label>
        <locationX>208</locationX>
        <locationY>53</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_request</targetReference>
        </connector>
        <fields>
            <name>brandImg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>terlatoImg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>300</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>brandID</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>terlato</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>requestformheader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;﻿California Privacy Rights Request Form&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is [COMPANY]’s Privacy Rights Request Form for California residents. If you are a California resident, under the California Consumer Privacy Act of 2018 (“CCPA”), you have the right to request to know about the personal information we have collected about you over the past 12 months and the right to request that we delete the personal information we collected from you.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&lt;/p&gt;&lt;p&gt;You may exercise your right to request to know twice a year, free of charge.&amp;nbsp;Please note, the CCPA prohibits us from disclosing your Social Security number, driver’s license number or other government-issued identification number, financial account number, any health insurance or medical identification number, any account password or security questions or answers in response to a request to know.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please see our Privacy Notice [Link to Privacy Notice] for a description of the personal information we collect and how we use, disclose and sell personal information.&lt;/p&gt;&lt;p&gt;To submit your request to [COMPANY], please fill out the form below. If you are submitting this request on behalf of someone else, please fill out the information in the form on behalf of the person for whom you are making the request.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UserEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserEmailInput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UserPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserPhoneInput</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>UserAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UserCityInput</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UserZipInput</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UserStateInput</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>UserStreetInput</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Options</name>
            <fieldText>&lt;p&gt;Would you like to:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Info</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>UserFirstChoice</elementReference>
            </defaultValue>
            <fieldText>Request Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Delete_Info</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>UserSecondChoice</elementReference>
            </defaultValue>
            <fieldText>Delete Info</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UserOptions</name>
            <choiceReferences>CCPAoptions</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Options</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Request_Info</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Submitting_on_behalf_of_someone</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Submitting on behalf of someone?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AuthorizedAgentForm</name>
            <fieldText>&lt;p&gt;You have indicated that you are submitting a California privacy rights request on behalf of someone else. In order for [COMPANY] to contact you, please provide the following information about yourself:&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submitting_on_behalf_of_someone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Agent_First_Name</name>
            <dataType>String</dataType>
            <fieldText>Agent First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;You have indicated you are submitting on behalf of someone. Please enter your First and Last name.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Submitting_on_behalf_of_someone}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submitting_on_behalf_of_someone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Agent_Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Agent Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have indicated you are submitting on behalf of someone. Please enter your First and Last name.&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 6, 6);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Submitting_on_behalf_of_someone}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submitting_on_behalf_of_someone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgentEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AgentEmailInput</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submitting_on_behalf_of_someone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgentPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AgentPhoneInput</assignToReference>
                <name>value</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Submitting_on_behalf_of_someone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Questions</name>
            <fieldText>&lt;p&gt;If you have any questions about this California Privacy Rights Request Form, please contact [COMPANY] at [●].&lt;/p&gt;&lt;p&gt;Please click the “Submit” button below to submit your request to [COMPANY]. By submitting this request, you certify that you are a California resident.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Fr</description>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>521</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;Thank you for submitting your California privacy rights request to [COMPANY]. We confirm receipt of your request, which has been forwarded to members of our privacy team for review.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;We are working diligently to process your request and to provide a response to you within 45 days of receipt of your request. In order to complete your request, we may need to verify your identity.&amp;nbsp;The method of verification may depend on the sensitivity of the request and the nature of your relationship with us. If you submitted this request on behalf of someone else, we may ask you to submit proof that you have been authorized to make this request on the other person’s behalf. We will be in touch soon to let you know what, if any, verification information is needed to complete your request.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p style=&quot;text-align: justify;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ccpa</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentEmailInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentFirstNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentLastNameInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AgentPhoneInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>brandID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CCPArequestrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CCPA_Request__c</objectType>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FormChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URLParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserCityInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmailInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserFirstChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserPhoneInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserSecondChoice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UserStateInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserStreetInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserZipInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserZipInputNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
