flows/Tours_and_Tastings_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_form_for_approval2</name>
        <label>Submit form for approval</label>
        <locationX>118</locationX>
        <locationY>1895</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Request_Submitted</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>TourandTastingForm.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Submit_Tour_and_Tasting_Request_for_Approval</name>
        <label>Submit Tour and Tasting Request for Approval</label>
        <locationX>457</locationX>
        <locationY>1827</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Submit_Tour_and_Tasting_Requests_for_Approval</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>TourandTastingRequest.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Tour_and_Tasting_Request_to_Collection</name>
        <label>Add Tour and Tasting Request to Collection</label>
        <locationX>764</locationX>
        <locationY>1472</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequests</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TourandTastingRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Through_Wineries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tour_and_Tasting_Request_to_Final_Collection_for_Processing</name>
        <label>Add Tour and Tasting Request to Final Collection for Processing</label>
        <locationX>636</locationX>
        <locationY>1689</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequestsforInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TourandTastingRequest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Tour_and_Tasting_Requests_with_Tour_and_Tasting_Form_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Primary_Guest_Email</name>
        <label>Assign Primary Guest Email</label>
        <locationX>320</locationX>
        <locationY>942</locationY>
        <assignmentItems>
            <assignToReference>Primary_Guest_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Contact_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Wineries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tour_and_Tasting_Form_ID_to_Tour_and_Tasting_Request</name>
        <label>Assign Tour and Tasting Form ID to Tour and Tasting Request</label>
        <locationX>637</locationX>
        <locationY>1528</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Tour_and_Tasting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TourandTastingForm.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Billing_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Code_Form</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Final_Collection_for_Processing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Form</name>
        <label>Create New Tour and Tasting For</label>
        <locationX>650</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Company__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Number_of_Guests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Many_Guests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Primary_Guest_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Guest_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Send_Guest_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Level_of_Wine_Knowledge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LevelofWineKnowledge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingForm.Billing_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Code_Form</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Tour_and_Tasting_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Request</name>
        <label>Create New Tour and Tasting Request</label>
        <locationX>1290</locationX>
        <locationY>1409</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winery_In_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Date_of_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Date_of_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Start_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.First_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_First_Visit</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased_Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Send_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Lunch_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lunch_Request_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Itinerary_Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itinerary_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Lunch_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Lunch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Request_0</name>
        <label>Create New Tour and Tasting Request</label>
        <locationX>2591</locationX>
        <locationY>1381</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winery_In_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Date_of_Visit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Date_of_Visit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Start_Time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Start_Time_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.First_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_First_Visit_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased_Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Send_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Lunch_Request_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lunch_Request_Details_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Itinerary_Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itinerary_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Lunch_Request__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Lunch_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Request_0_0</name>
        <label>Create New Tour and Tasting Request</label>
        <locationX>923</locationX>
        <locationY>753</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winery_In_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Date_of_Visit_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Date_of_Visit_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Start_Time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Start_Time_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.First_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_First_Visit_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased_Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Send_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Itinerary_Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itinerary_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Request_0_0_0</name>
        <label>Create New Tour and Tasting Request</label>
        <locationX>2903</locationX>
        <locationY>1484</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winery_In_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Date_of_Visit_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Date_of_Visit_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Start_Time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Start_Time_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.First_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_First_Visit_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased_Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Send_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Itinerary_Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itinerary_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Tour_and_Tasting_Request_0_0_0_0</name>
        <label>Create New Tour and Tasting Request</label>
        <locationX>1242</locationX>
        <locationY>1216</locationY>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Type_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Date_of_Visit_0_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Date_of_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Date_of_Visit_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Earliest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Earliest_Start_Time_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.First_Visit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Primary_Guest_First_Visit_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Cases_Purchased_Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cases_Purchased_Winery_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Send_Itinerary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_Itinerary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Itinerary_Recipient_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Itinerary_Recipient_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Latest_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Latest_Start_Time_0_0_0_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TourandTastingRequest.Winery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Winery_In_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Tour_and_Tasting_Request_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>decision_validation_var_to_false</name>
        <label>decision validation var to false</label>
        <locationX>3092</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimnyRestrictedTime230</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimnyRestrictedTime3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimnyRestrictedTime330</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimnyRestrictedTime4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimneyRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getChimneyRockHolidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>hanna_decision_var_to_true</name>
        <label>hanna decision var to true</label>
        <locationX>700</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booleanIsHoliday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>booleanIsRestrictedTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Winery_Screen_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>hanna_decision_variable_to_false</name>
        <label>hanna decision variable to false</label>
        <locationX>915</locationX>
        <locationY>115</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>restricedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HannaRestrictedTime3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HannaRestrictedTime330</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HannaRestrictedTime4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HannaRestrictedTime10</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Hanna_wineyard_Holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxville_decision_var_to_false</name>
        <label>maxville decision var to false</label>
        <locationX>2355</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxvilleRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxvilleIsRestricedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxvilleRestrictedTime330</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaxvilleRestrictedTime4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>weekendsTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_maxville_holidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>maxville_decision_var_to_true</name>
        <label>maxville decision var to true</label>
        <locationX>2178</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxvilleBooleanIsHoliday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>maxvilleIsRestricedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>maxvilleBooleanIsRestrictedTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>weekendsTrue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weekends</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Winery_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rochioli_Decision_var_to_false</name>
        <label>Rochioli Decision var to false</label>
        <locationX>1516</locationX>
        <locationY>820</locationY>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming10</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming11</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming1130</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11:30 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming12</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming130</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming330</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTimeBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming1030</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:30 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming1230</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12:30 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTiming230</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2:30AM PDT</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rochioli_selected_time_comparison</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Rochioli_Decision_var_to_true</name>
        <label>Rochioli Decision var to true</label>
        <locationX>1343</locationX>
        <locationY>985</locationY>
        <assignmentItems>
            <assignToReference>RochioliRestrictedTimeBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Rochioli_Winery_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>rutherFord_decision_variable_to_true</name>
        <label>rutherFord decision variable to true</label>
        <locationX>2586</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isRutherfordRestrictedTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isRutherfordHoliday</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Winery_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>rutherford_validation_var_to_false</name>
        <label>rutherford validation var to false</label>
        <locationX>2770</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming1030</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:30 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming11</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming10</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>10:00 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming1130</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>11:30 AM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming12</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming1230</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>12:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming1</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming130</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming230</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming330</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3:30 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RutherfordRestrictedTiming4</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4:00 PM PDT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getRutherfordHolidays</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>validity_to_true</name>
        <label>validity to true</label>
        <locationX>2903</locationX>
        <locationY>706</locationY>
        <assignmentItems>
            <assignToReference>decision_validation_var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsChimneyHoliday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChimneyRestrictedTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IsRestrictedTiming</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Winery_Screen_0_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContactNotListed</name>
        <choiceText>Contact Not Listed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <constants>
        <name>Account_Winery_Record_Type_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Winery_Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>Billing_Code_Default</name>
        <dataType>String</dataType>
        <value>
            <stringValue>2AOT.33910.19</stringValue>
        </value>
    </constants>
    <constants>
        <name>ChimneyRockChoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Chimney Rock Winery</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is to check if date selected is 25th of December</description>
        <name>ChristmasDate</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2019-12-25</dateValue>
        </value>
    </constants>
    <constants>
        <name>TEMP_DELETE_Guest_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Consumer</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEST_DELETE_Tour_Type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TESTING</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Exclude_Weekends</name>
        <label>Exclude Weekends?</label>
        <locationX>638</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Selected_Winery_Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_Check_day_of_week</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Winery_In_Context.Exclude_Weekends__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Winery_In_Context.Food_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Winery_Screen_0</targetReference>
            </connector>
            <label>TRUE - Food Included</label>
        </rules>
        <rules>
            <name>False_Food_Included</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Winery_In_Context.Exclude_Weekends__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Winery_In_Context.Food_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Winery_Screen</targetReference>
            </connector>
            <label>False - Food Included</label>
        </rules>
        <rules>
            <name>TRUE_Food_Excluded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Winery_In_Context.Exclude_Weekends__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Winery_In_Context.Food_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Winery_Screen_0_0_0</targetReference>
            </connector>
            <label>TRUE - Food Excluded</label>
        </rules>
        <rules>
            <name>For_Rochioli_Winery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Winery_In_Context.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rochioli Winery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rochioli_Winery_Screen</targetReference>
            </connector>
            <label>For Rochioli Winery</label>
        </rules>
    </decisions>
    <decisions>
        <name>hanna_selected_day_comparison</name>
        <label>hanna selected day comparison</label>
        <locationX>914</locationX>
        <locationY>466</locationY>
        <defaultConnector>
            <targetReference>Create_New_Tour_and_Tasting_Request_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hanna_holidays_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Hanna_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1/1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Hanna_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.ThanksGiving__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>restricedTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HannaRestrictedTime3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HannaRestrictedTime330</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HannaRestrictedTime4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Start_Time_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>HannaRestrictedTime10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>hanna_decision_var_to_true</targetReference>
            </connector>
            <label>hanna holidays selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Primary_Guest_Assigned</name>
        <label>Is Primary Guest Assigned?</label>
        <locationX>446</locationX>
        <locationY>763</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Guest_Not_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_the_Primary_Guest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactNotListed</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>Primary Guest Not Listed</label>
        </rules>
        <rules>
            <name>Primary_Guest_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Who_is_the_Primary_Guest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PrimaryGuest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Wineries</targetReference>
            </connector>
            <label>Primary Guest Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Winery_Selected</name>
        <label>Is Winery Selected?</label>
        <locationX>814</locationX>
        <locationY>1083</locationY>
        <defaultConnector>
            <targetReference>Iterate_Through_Wineries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Winery_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Winery</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Winery_In_Context.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exclude_Weekends</targetReference>
            </connector>
            <label>Winery Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>maxville_holiday_comparison</name>
        <label>maxville holiday comparison</label>
        <locationX>2166</locationX>
        <locationY>1095</locationY>
        <defaultConnector>
            <targetReference>Create_New_Tour_and_Tasting_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>maxville_holiday_is_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.Labor_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.Memorial_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.Presidents_Day__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.ThanksGiving__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maxville_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maxville_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1/1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maxville_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/24</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maxville_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/31</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.DayAfterThanksGiving__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Maxville_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7/4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>maxvilleRestrictedTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Start_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>maxvilleRestrictedTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MaxvilleRestrictedTime330</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MaxvilleRestrictedTime4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Weekends</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>maxville_decision_var_to_true</targetReference>
            </connector>
            <label>maxville holiday is selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rochioli_selected_time_comparison</name>
        <label>Rochioli selected time comparison</label>
        <locationX>1506</locationX>
        <locationY>1039</locationY>
        <defaultConnector>
            <targetReference>Create_New_Tour_and_Tasting_Request_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_time_comparison</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming10</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming11</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming12</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming1</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming4</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming1130</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming130</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming330</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Latest_Start_Time_0_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RochioliRestrictedTiming10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rochioli_Decision_var_to_true</targetReference>
            </connector>
            <label>selected time comparison</label>
        </rules>
    </decisions>
    <decisions>
        <name>rutherFord_holiday_comparison</name>
        <label>rutherFord holiday comparison</label>
        <locationX>2588</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>Create_New_Tour_and_Tasting_Request_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rutherFord_holidays_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RutherFord_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RutherFord_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1/1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.ThanksGiving__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RutherfordRestrictedTiming4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rutherFord_decision_variable_to_true</targetReference>
            </connector>
            <label>rutherFord holidays selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>selected_day_comparison</name>
        <label>selected day comparison</label>
        <locationX>2894</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>Create_New_Tour_and_Tasting_Request_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>holiday_date_selected</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Chimney_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1/1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Chimney_earliest_month_day</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>12/25</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.Easter__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Date_of_Visit_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WineyardHolidaysFromMdt.ThanksGiving__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Earliest_Start_Time_0_0_0</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChimnyRestrictedTime4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>validity_to_true</targetReference>
            </connector>
            <label>holiday date selected</label>
        </rules>
    </decisions>
    <description>New Version w Lunch Included FINAL</description>
    <dynamicChoiceSets>
        <name>Earliest_Start_Time_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Earliest_Start_Time__c</picklistField>
        <picklistObject>Tour_and_Tasting_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Latest_Start_Time_Picklist_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Latest_Start_Time__c</picklistField>
        <picklistObject>Tour_and_Tasting_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Level_of_Wine_Knowledge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Level_of_Wine_Knowledge__c</picklistField>
        <picklistObject>Tours_and_Tastings__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryGuest</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Primary_Guest_Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Primary_Guest_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PrimaryGuestType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Tours_and_Tastings__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequestTypePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Request_Type__c</picklistField>
        <picklistObject>Tour_and_Tasting_Request__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Wineries</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Winery_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tours_Tastings_Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>booleanIsHoliday</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!Hanna_earliest_month_day} ,&quot;1/1&quot;),CONTAINS({!Hanna_earliest_month_day}, &quot;12/25&quot;),CONTAINS(TEXT({!Earliest_Date_of_Visit_0_0}), TEXT({!WineyardHolidaysFromMdt.ThanksGiving__c}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>booleanIsRestrictedTime</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!Earliest_Start_Time_0_0},{!restricedTime}),CONTAINS({!Latest_Start_Time_0_0},{!HannaRestrictedTime3}),CONTAINS({!Latest_Start_Time_0_0},{!HannaRestrictedTime330}),CONTAINS({!Latest_Start_Time_0_0},{!HannaRestrictedTime4})),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>Chimney_earliest_month_day</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Earliest_Date_of_Visit_0_0_0}))&amp;&apos;/&apos;&amp;TEXT(DAY({!Earliest_Date_of_Visit_0_0_0}))</expression>
    </formulas>
    <formulas>
        <name>dayAfterThanksGiving</name>
        <dataType>Date</dataType>
        <expression>{!WineyardHolidaysFromMdt.ThanksGiving__c} + 1</expression>
    </formulas>
    <formulas>
        <name>Hanna_earliest_month_day</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Earliest_Date_of_Visit_0_0}))&amp;&apos;/&apos;&amp;TEXT(DAY({!Earliest_Date_of_Visit_0_0}))</expression>
    </formulas>
    <formulas>
        <name>IsChimneyHoliday</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!Chimney_earliest_month_day} ,&quot;1/1&quot;),CONTAINS({!Chimney_earliest_month_day}, &quot;12/25&quot;),CONTAINS(TEXT({!Earliest_Date_of_Visit_0_0_0}), TEXT({!WineyardHolidaysFromMdt.ThanksGiving__c})),CONTAINS(TEXT({!Earliest_Date_of_Visit_0_0_0}), TEXT({!WineyardHolidaysFromMdt.Easter__c}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>IsRestrictedTiming</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Latest_Start_Time_0_0_0}, {!ChimnyRestrictedTime4}), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>isRutherfordHoliday</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!RutherFord_earliest_month_day} ,&quot;1/1&quot;),CONTAINS({!RutherFord_earliest_month_day}, &quot;12/25&quot;),CONTAINS(TEXT({!Earliest_Date_of_Visit_0}), TEXT({!WineyardHolidaysFromMdt.ThanksGiving__c}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>isRutherfordRestrictedTime</name>
        <dataType>Boolean</dataType>
        <expression>IF(CONTAINS({!Earliest_Start_Time_0}, {!RutherfordRestrictedTiming4}), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>Itinerary_Recipient_Email</name>
        <dataType>String</dataType>
        <expression>IF ({!Send_Itinerary}, {!Primary_Guest_Email}, {!$User.Email})</expression>
    </formulas>
    <formulas>
        <name>Maxville_earliest_month_day</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Earliest_Date_of_Visit}))&amp;&apos;/&apos;&amp;TEXT(DAY({!Earliest_Date_of_Visit}))</expression>
    </formulas>
    <formulas>
        <name>maxvilleBooleanIsHoliday</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!Maxville_earliest_month_day} ,&quot;1/1&quot;),CONTAINS({!Maxville_earliest_month_day}, &quot;12/25&quot;),CONTAINS({!Maxville_earliest_month_day}, &quot;12/24&quot;),CONTAINS({!Maxville_earliest_month_day}, &quot;12/31&quot;),CONTAINS({!Maxville_earliest_month_day}, &quot;7/4&quot;),CONTAINS(TEXT({!Earliest_Date_of_Visit}), TEXT({!WineyardHolidaysFromMdt.ThanksGiving__c})),CONTAINS(TEXT({!Earliest_Date_of_Visit}), TEXT({!WineyardHolidaysFromMdt.Presidents_Day__c})),CONTAINS(TEXT({!Earliest_Date_of_Visit}), TEXT({!WineyardHolidaysFromMdt.Memorial_Day__c})),CONTAINS(TEXT({!Earliest_Date_of_Visit}), TEXT({!WineyardHolidaysFromMdt.Labor_Day__c})),CONTAINS(TEXT({!Earliest_Date_of_Visit}), TEXT({!WineyardHolidaysFromMdt.DayAfterThanksGiving__c}))),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>maxvilleBooleanIsRestrictedTime</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!Earliest_Start_Time},{!maxvilleRestrictedTime}),CONTAINS({!Earliest_Start_Time},{!MaxvilleRestrictedTime330}),CONTAINS({!Earliest_Start_Time},{!MaxvilleRestrictedTime4}),CONTAINS({!Latest_Start_Time},{!maxvilleRestrictedTime})),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>RutherFord_earliest_month_day</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Earliest_Date_of_Visit_0}))&amp;&apos;/&apos;&amp;TEXT(DAY({!Earliest_Date_of_Visit_0}))</expression>
    </formulas>
    <formulas>
        <name>Today_Plus_Eight_Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 8</expression>
    </formulas>
    <formulas>
        <name>Weekdays</name>
        <dataType>Boolean</dataType>
        <expression>OR(WEEKDAY({!Earliest_Date_of_Visit_0}) == 2 , WEEKDAY({!Earliest_Date_of_Visit_0}) == 3, WEEKDAY({!Earliest_Date_of_Visit_0}) == 4, WEEKDAY({!Earliest_Date_of_Visit_0}) == 5, WEEKDAY({!Earliest_Date_of_Visit_0}) == 6)</expression>
    </formulas>
    <formulas>
        <name>Weekends</name>
        <dataType>Boolean</dataType>
        <expression>OR(WEEKDAY({!Earliest_Date_of_Visit}) == 7 , WEEKDAY({!Earliest_Date_of_Visit}) == 1 , WEEKDAY({!Latest_Date_of_Visit}) == 7 , WEEKDAY({!Latest_Date_of_Visit}) == 1)</expression>
    </formulas>
    <interviewLabel>Tours and Tastings Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tours and Tastings Request test pk71</label>
    <loops>
        <name>Iterate_Through_Wineries</name>
        <label>Iterate Through Wineries</label>
        <locationX>243</locationX>
        <locationY>1189</locationY>
        <assignNextValueToReference>Winery_In_Context</assignNextValueToReference>
        <collectionReference>Wineries_All</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Winery_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Tour_and_Tasting_Form</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Submit_Tour_and_Tasting_Requests_for_Approval</name>
        <label>Submit Tour and Tasting Requests for Approval</label>
        <locationX>275</locationX>
        <locationY>1826</locationY>
        <assignNextValueToReference>TourandTastingRequest</assignNextValueToReference>
        <collectionReference>TourandTastingRequestsforInsert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Submit_Tour_and_Tasting_Request_for_Approval</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submit_form_for_approval2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Tour_and_Tasting_Requests_with_Tour_and_Tasting_Form_ID</name>
        <label>Update Tour and Tasting Requests with Tour and Tasting Form ID</label>
        <locationX>453</locationX>
        <locationY>1577</locationY>
        <assignNextValueToReference>TourandTastingRequest</assignNextValueToReference>
        <collectionReference>TourandTastingRequests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Tour_and_Tasting_Form_ID_to_Tour_and_Tasting_Request</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Tour_and_Tasting_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Tour_and_Tasting_Form</name>
        <label>Insert Tour and Tasting Form</label>
        <locationX>162</locationX>
        <locationY>1372</locationY>
        <connector>
            <targetReference>Update_Tour_and_Tasting_Requests_with_Tour_and_Tasting_Form_ID</targetReference>
        </connector>
        <inputReference>TourandTastingForm</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_Tour_and_Tasting_Requests</name>
        <label>Insert Tour and Tasting Requests</label>
        <locationX>127</locationX>
        <locationY>1591</locationY>
        <connector>
            <targetReference>Submit_Tour_and_Tasting_Requests_for_Approval</targetReference>
        </connector>
        <inputReference>TourandTastingRequestsforInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_New_Contact</name>
        <label>Save New Contact</label>
        <locationX>195</locationX>
        <locationY>942</locationY>
        <assignRecordIdToReference>Primary_Guest_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Primary_Guest_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>New_Contact_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>New_Contact_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>New_Contact_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>New_Contact_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>get_Hanna_wineyard_Holidays</name>
        <label>get Hanna wineyard Holidays</label>
        <locationX>921</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hanna_selected_day_comparison</targetReference>
        </connector>
        <object>Wineyard_holidays__mdt</object>
        <outputReference>WineyardHolidaysFromMdt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ThanksGiving__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_maxville_holidays</name>
        <label>get maxville holidays</label>
        <locationX>2355</locationX>
        <locationY>1091</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>maxville_holiday_comparison</targetReference>
        </connector>
        <object>Wineyard_holidays__mdt</object>
        <outputReference>WineyardHolidaysFromMdt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Labor_Day__c</queriedFields>
        <queriedFields>Memorial_Day__c</queriedFields>
        <queriedFields>ThanksGiving__c</queriedFields>
        <queriedFields>Presidents_Day__c</queriedFields>
        <queriedFields>DayAfterThanksGiving__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Winery_Record_Type_Id</name>
        <label>Get Winery Record Type Id</label>
        <locationX>454</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Winery_Records</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Winery_Record_Type_Name</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>Account_Winery_Record_Type</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Winery_Records</name>
        <label>Get Winery Records</label>
        <locationX>455</locationX>
        <locationY>336</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Winery_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tours_Tastings_Accepted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Wineries_All</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Tasting_Room_Hours__c</queriedFields>
        <queriedFields>Important_Things_to_Remember__c</queriedFields>
        <queriedFields>Exclude_Weekends__c</queriedFields>
        <queriedFields>Food_Available__c</queriedFields>
        <queriedFields>Holidays__c</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getChimneyRockHolidays</name>
        <label>getChimneyRockHolidays</label>
        <locationX>3091</locationX>
        <locationY>893</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selected_day_comparison</targetReference>
        </connector>
        <object>Wineyard_holidays__mdt</object>
        <outputReference>WineyardHolidaysFromMdt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ThanksGiving__c</queriedFields>
        <queriedFields>Easter__c</queriedFields>
        <queriedFields>Labor_Day__c</queriedFields>
        <queriedFields>Memorial_Day__c</queriedFields>
        <queriedFields>Presidents_Day__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRutherfordHolidays</name>
        <label>getRutherfordHolidays</label>
        <locationX>2766</locationX>
        <locationY>875</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>rutherFord_holiday_comparison</targetReference>
        </connector>
        <object>Wineyard_holidays__mdt</object>
        <outputReference>WineyardHolidaysFromMdt</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ThanksGiving__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>455</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Primary_Guest_Assigned</targetReference>
        </connector>
        <fields>
            <name>How_Many_Guests</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How Many Guests?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Who_is_the_Primary_Guest</name>
            <choiceReferences>ContactNotListed</choiceReferences>
            <choiceReferences>PrimaryGuest</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Who is the Primary Guest?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_Separator</name>
            <fieldText>Don&apos;t see the Primary Guest listed above? Don&apos;t worry, you can enter their contact details on the next screen.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>195</locationX>
        <locationY>754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Save_New_Contact</targetReference>
        </connector>
        <fields>
            <name>Contact_Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>New_Contact_Last_Name</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>New_Contact_First_Name</assignToReference>
                <name>firstName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>New_Contact_Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>name@company.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>New_Contact_Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_Submitted</name>
        <label>Request Submitted!</label>
        <locationX>284</locationX>
        <locationY>2025</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Request_Submitted_Text</name>
            <fieldText>Success! Your request has been submitted for approval!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rochioli_Winery_Screen</name>
        <label>Rochioli Winery Screen</label>
        <locationX>1342</locationX>
        <locationY>819</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Rochioli_Decision_var_to_false</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Winery_Name_0_0_0_0</name>
            <fieldText>&lt;p&gt;Winery: {!Winery_In_Context.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Holiday List :{!Winery_In_Context.Holidays__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Earliest_Date_of_Visit_0_0_0_0_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Important_Things_to_Remember</name>
            <fieldText>&lt;p&gt;Phone: {!Winery_In_Context.Phone}&lt;/p&gt;&lt;p&gt;Tasting Room Hours: &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: Arial, Helvetica, sans-serif; color: rgb(34, 34, 34);&quot;&gt;10:30am, 12:30pm and 2:30pm every day.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Important Things To Remember: {!Winery_In_Context.Important_Things_to_Remember__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type_0_0_0_0_0</name>
            <choiceReferences>RequestTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earliest_Date_of_Visit_0_0_0_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Earliest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Earliest_Date_of_Visit_0_0_0_0_0} &gt;= {!Today_Plus_Eight_Days},{!Earliest_Date_of_Visit_0_0_0_0_0} &lt;= {!Latest_Date_of_Visit_0_0_0_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Latest_Date_of_Visit_0_0_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Latest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Latest_Date_of_Visit_0_0_0_0} &gt;= {!Today_Plus_Eight_Days}, {!Earliest_Date_of_Visit_0_0_0_0_0} &lt;= {!Latest_Date_of_Visit_0_0_0_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Earliest_Start_Time_0_0_0_0</name>
            <choiceReferences>Earliest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Restrcted_Time</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 11); background-color: rgb(255, 255, 255);&quot;&gt;**Winery is closed. Consider timing restrictions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RochioliRestrictedTimeBoolean</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Start_Time_0_0_0_0</name>
            <choiceReferences>Latest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Latest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cases_Purchased_Winery_0_0_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has the person purchase from this winery over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Guest_First_Visit_0_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check this box if this is the first visit to the winery.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Wineries</name>
        <label>Select Wineries</label>
        <locationX>454</locationX>
        <locationY>941</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Through_Wineries</targetReference>
        </connector>
        <fields>
            <name>Winery</name>
            <choiceReferences>Wineries</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Wineries</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billing_Code_Form</name>
            <dataType>String</dataType>
            <fieldText>Billing Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Guest_Type</name>
            <choiceReferences>PrimaryGuestType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Primary Guest Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LevelofWineKnowledge</name>
            <choiceReferences>Level_of_Wine_Knowledge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Level of Wine Knowledge</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Primary_Guest_Notes</name>
            <dataType>String</dataType>
            <fieldText>What should the wineries know about the primary guest?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cases_Purchased</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has this person purchased over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Send_Itinerary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Should the primary guest be emailed an itinerary?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Winery_Screen</name>
        <label>Tour and Tasting Request</label>
        <locationX>2174</locationX>
        <locationY>722</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>maxville_decision_var_to_false</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Winery_Name</name>
            <fieldText>&lt;p&gt;Winery: {!Winery_In_Context.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Holiday List :{!Winery_In_Context.Holidays__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;{!Earliest_Date_of_Visit}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Winery_In_Context_Details</name>
            <fieldText>Phone: {!Winery_In_Context.Phone}
Tasting Room Hours: {!Winery_In_Context.Tasting_Room_Hours__c}
Important Things To Remember: {!Winery_In_Context.Important_Things_to_Remember__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>wineyard_Name_Max</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Winery is not available on Saturdays and Sundays&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>weekendsTrue</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Request_Type</name>
            <choiceReferences>RequestTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earliest_Date_of_Visit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Earliest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Request must be made 7 days in advance and earliest date of visit must be before latest date of visit.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Earliest_Date_of_Visit} &gt;= {!Today_Plus_Eight_Days}, {!Earliest_Date_of_Visit} &lt;= {!Latest_Date_of_Visit})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>maxville_error_display</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;**Selected date is holiday&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>decision_validation_var</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Date_of_Visit</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Latest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tour and Tasting requests must be made 7 days in advance and latest date of visit must be after earliest date of visit.&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Latest_Date_of_Visit} &gt;= {!Today_Plus_Eight_Days},{!Latest_Date_of_Visit} 
 &gt;= {!Latest_Date_of_Visit})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Earliest_Start_Time</name>
            <choiceReferences>Earliest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>startTimeErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 11); background-color: rgb(255, 255, 255);&quot;&gt;**Winery is closed. Consider timing restrictions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>maxvilleIsRestricedTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Start_Time</name>
            <choiceReferences>Latest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Latest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Lunch</name>
            <dataType>Boolean</dataType>
            <fieldText>Request Lunch?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lunch_Request_Details</name>
            <dataType>String</dataType>
            <fieldText>Lunch Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lunch_Options</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://twg.systems/trade_offerings_2019.pdf&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Calibri, sans-serif; color: rgb(0, 109, 204);&quot;&gt;Click here for lunch options&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cases_Purchased_Winery</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has the person purchase from this winery over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Guest_First_Visit</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check this box if this is the first visit to the winery.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Winery_Screen_0</name>
        <label>Tour and Tasting Request</label>
        <locationX>2593</locationX>
        <locationY>552</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>rutherford_validation_var_to_false</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Winery_Name_0</name>
            <fieldText>&lt;p&gt;Winery: {!Winery_In_Context.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Holiday List :{!Winery_In_Context.Holidays__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Earliest_Date_of_Visit_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Winery_In_Context_Details_0</name>
            <fieldText>&lt;p&gt;Phone: {!Winery_In_Context.Phone}&lt;/p&gt;&lt;p&gt;Tasting Room Hours: {!Winery_In_Context.Tasting_Room_Hours__c}&lt;/p&gt;&lt;p&gt;Important Things To Remember:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Winery_In_Context.Important_Things_to_Remember__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type_0</name>
            <choiceReferences>RequestTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earliest_Date_of_Visit_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Earliest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Earliest_Date_of_Visit_0} &gt;= {!Today_Plus_Eight_Days},{!Earliest_Date_of_Visit_0} &lt;= {!Latest_Date_of_Visit_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>holidayErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 5, 5);&quot;&gt;**selected date is holiday&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isRestrictedTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Date_of_Visit_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Latest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery. D&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Latest_Date_of_Visit_0} &gt;= {!Today_Plus_Eight_Days},{!Earliest_Date_of_Visit_0} &lt;= {!Latest_Date_of_Visit_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Earliest_Start_Time_0</name>
            <choiceReferences>Earliest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 11); background-color: rgb(255, 255, 255);&quot;&gt;**Winery is closed. Consider timing restrictions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>decision_validation_var</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Start_Time_0</name>
            <choiceReferences>Latest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Latest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Request_Lunch_0</name>
            <dataType>Boolean</dataType>
            <fieldText>Request Lunch?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Lunch_Request_Details_0</name>
            <dataType>String</dataType>
            <fieldText>Lunch Request</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lunch_Options_0</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;http://twg.systems/trade_offerings_2019.pdf&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Calibri, sans-serif; color: rgb(0, 109, 204);&quot;&gt;Click here for lunch options&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cases_Purchased_Winery_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has the person purchase from this winery over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Guest_First_Visit_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check this box if this is the first visit to the winery.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Winery_Screen_0_0</name>
        <label>Tour and Tasting Request</label>
        <locationX>665</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>hanna_decision_variable_to_false</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Winery_Name_0_0</name>
            <fieldText>&lt;p&gt;Winery: {!Winery_In_Context.Name}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Holiday List :{!Winery_In_Context.Holidays__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Earliest_Date_of_Visit_0_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Winery_In_Context_Details_0_0</name>
            <fieldText>Phone: {!Winery_In_Context.Phone}
Tasting Room Hours: {!Winery_In_Context.Tasting_Room_Hours__c}
Important Things To Remember: {!Winery_In_Context.Important_Things_to_Remember__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type_0_0</name>
            <choiceReferences>RequestTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earliest_Date_of_Visit_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Earliest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Request must be made 7 days in advance and earliest date of visit must be before latest date of visit.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Earliest_Date_of_Visit_0_0} &gt;= {!Today_Plus_Eight_Days}, {!Earliest_Date_of_Visit_0_0} &lt;= {!Latest_Date_of_Visit_0_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>test00</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;**selected date is holiday&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>decision_validation_var</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Date_of_Visit_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Latest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Tour and Tasting requests must be made 7 days in advance and latest date of visit must be after earliest date of visit. A&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Latest_Date_of_Visit_0_0} &gt;= {!Today_Plus_Eight_Days},{!Latest_Date_of_Visit_0_0} 
 &gt;= {!Earliest_Date_of_Visit_0_0})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Earliest_Start_Time_0_0</name>
            <choiceReferences>Earliest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorOnRestrictedTime</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(231, 26, 11);&quot;&gt;**Winery is closed. Consider timing restrictions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isRestrictedTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Start_Time_0_0</name>
            <choiceReferences>Latest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Latest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cases_Purchased_Winery_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has the person purchase from this winery over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Guest_First_Visit_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check this box if this is the first visit to the winery.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Winery_Screen_0_0_0</name>
        <label>Tour and Tasting Request</label>
        <locationX>2903</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision_validation_var_to_false</targetReference>
        </connector>
        <fields>
            <name>Display_Text_Winery_Name_0_0_0</name>
            <fieldText>&lt;p&gt;Winery: {!Winery_In_Context.Name}&lt;/p&gt;&lt;p&gt;Holiday List :{!Winery_In_Context.Holidays__c}&lt;/p&gt;&lt;p&gt;{!Earliest_Date_of_Visit_0_0_0}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Winery_In_Context_Details_0_0_0</name>
            <fieldText>Phone: {!Winery_In_Context.Phone}
Tasting Room Hours: {!Winery_In_Context.Tasting_Room_Hours__c}
Important Things To Remember: {!Winery_In_Context.Important_Things_to_Remember__c}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Request_Type_0_0_0</name>
            <choiceReferences>RequestTypePicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Request Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Earliest_Date_of_Visit_0_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Earliest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Earliest_Date_of_Visit_0_0_0} &gt;= {!Today_Plus_Eight_Days},{!Earliest_Date_of_Visit_0_0_0} &lt;= {!Latest_Date_of_Visit_0_0_0},
WEEKDAY({!Earliest_Date_of_Visit_0_0_0}) != 1,WEEKDAY({!Earliest_Date_of_Visit_0_0_0}) != 7)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 5, 5);&quot;&gt;**selected date is holiday&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>decision_validation_var</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Date_of_Visit_0_0_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today_Plus_Eight_Days</elementReference>
            </defaultValue>
            <fieldText>Latest Date of Visit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Tour request must be made at least 8 days in advance, earliest date of visit must be before latest date of visit and are not available for Saturdays and Sundays at the selected Winery. C&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!Latest_Date_of_Visit_0_0_0} &gt;= {!Today_Plus_Eight_Days}, {!Earliest_Date_of_Visit_0_0_0} &lt;= {!Latest_Date_of_Visit_0_0_0},WEEKDAY({!Latest_Date_of_Visit_0_0_0}) != 1,WEEKDAY({!Latest_Date_of_Visit_0_0_0}) != 7)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Earliest_Start_Time_0_0_0</name>
            <choiceReferences>Earliest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earliest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Timing_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(231, 26, 11);&quot;&gt;**Winery is closed. Consider timing restrictions.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChimneyRestrictedTime</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Latest_Start_Time_0_0_0</name>
            <choiceReferences>Latest_Start_Time_Picklist_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Latest Start Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cases_Purchased_Winery_0_0_0</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>How many cases has the person purchase from this winery over the last rolling 12 months?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Primary_Guest_First_Visit_0_0_0</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Check this box if this is the first visit to the winery.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>142</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Get_Winery_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_Winery_Record_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ChimneyRestrictedTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChimnyRestrictedTime230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChimnyRestrictedTime3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChimnyRestrictedTime330</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChimnyRestrictedTime4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store Contacts related to the selected Account</description>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>decision_validation_var</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HannaRestrictedTime10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HannaRestrictedTime3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HannaRestrictedTime330</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HannaRestrictedTime4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HannaRestrictedTimeBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isRestrictedTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>maxvilleIsRestricedTime</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>maxvilleRestrictedTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxvilleRestrictedTime330</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaxvilleRestrictedTime4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Contact_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Contact_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Contact_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>New_Contact_Phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Primary_Guest_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Primary_Guest_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record ID of the selected Account</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>restricedTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTimeBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming1030</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming1130</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming1230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming130</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming330</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RochioliRestrictedTiming4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming1030</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming1130</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming12</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming1230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming130</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming230</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming330</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RutherfordRestrictedTiming4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedWineryIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TourandTastingForm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tours_and_Tastings__c</objectType>
    </variables>
    <variables>
        <name>TourandTastingRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_and_Tasting_Request__c</objectType>
    </variables>
    <variables>
        <name>TourandTastingRequests</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_and_Tasting_Request__c</objectType>
    </variables>
    <variables>
        <name>TourandTastingRequestsforInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_and_Tasting_Request__c</objectType>
    </variables>
    <variables>
        <name>validation_variable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>weekendsTrue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Wineries_All</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Winery_In_Context</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>WineryIDInContext</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WineryIterator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WineryTourandTastingDetails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tour_and_Tasting_Request__c</objectType>
    </variables>
    <variables>
        <name>WineyardHolidaysFromMdt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Wineyard_holidays__mdt</objectType>
    </variables>
</Flow>
